.container{
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden //so nothing comes out of its container
}

//buttons
%btn-shared{
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn{
    &-main{
        @extend %btn-shared;
        color: #333;
        background: $main-color;
    }
    &-light{
        @extend %btn-shared;
        color: #333;
        background: white;
    }
    &-dark{
        @extend %btn-shared;
        color:#f4f4f4;
        background: $dark-color;
    }
}

//Backgrounds
.bg{
    &-main{
        background: $main-color;
    }

    &-dark{
        background: $dark-color;
        color:white;
    }

    &-medium{
        background: $medium-color;
    }

    &-dark{
        background: $dark-color;
    }
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.text-center{
    text-align: center;
}

//padding classes
.py{
    &-1{
        padding: 1rem 0;
    }

    &-2{
        padding: 2rem 0;
    }

    &-3{
        padding: 3rem 0;
    }

    &-4{
        padding: 4rem 0;
    }
}

.bottom-line{
    height: 2px;
    width:10rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}

.section-title{
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}